#mimp-service-header {
	background-color: #08688D;
	padding: 50px 0px;
	color: white;
  margin-top: -20px;
  margin-bottom: 15px;
}

#mimp-service-header h1 {
  color: white;
}

#mimp-services h3 {
	border-bottom: 1px dotted #333333;
}

.mimp-search-sidebar {
	margin-top: 60px;
}

.mimp-service-list {
	margin-top: 5px;
	border-bottom: 2px solid rgba(33, 140, 182, 0.79);
}

.open>.dropdown-menu.mimp-service-dropdown {
  display: block;
  overflow: scroll;
  max-height: 200px;
  min-width: 100%;
}

a.sth-second-brand.mimp-service-list {
	color: white;
}

a.sth-second-brand.mimp-service-list:hover {
	color: #0091C9;
}

.breadcrumb {
  background-color:white;
  border:none;
  padding-left:0px;
}

button.btn.btn-mimp.dropdown-toggle.form-control {
color: #0091c9;
}

.mimp-internal-advert {
  padding:30px 20px 10px 20px;
  margin-top: 10px;
  background-color:#08688D;
  color: white;
  font-style: italic;
}

.mimp-internal-advert h2, .mimp-internal-advert a {
  color: white;
}